{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
  <style>
    body { padding: 0px; margin: 0px; }
    video {
     position: absolute;
     top: 0%;
     right: 0%;
     left:0%;
     bottom:0%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -10;
     overflow: hidden;
     }
     .jb-text { position: absolute; top: 50%; width: 100%; }
     .jb-text p { margin-top: -24px; text-align: center; font-size: 48px; color: #ffffff; }


  </style>
</head>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
    <a class="navbar-brand" href="{% url 'home' %}">Korea Top-100 Mountains</a>
  
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'krmt' %}"> Map</a>
      </li>
    </ul>
</nav>

<div class="jb-box">
  <video autoplay loop muted >
    <source src="/static/vid/mt_video.mp4" type="video/mp4">
  </video>
  <div class="jb-text">
    <p>Korea Top 100 Mountains</p>
  </div>
</div>
